<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>聊天窗口</title>
</head>
<body>
<!--[if lt IE 9]>
<div class="alert-warning">
    <p>你的浏览器不支持本网站的一些新特性，请升级您的浏览器至最新的<a target="_parent" href="http://se.360.cn/">360浏览器</a>或<a target="_parent" href="http://browsehappy.com/">Chrome</a>。
    </p>
</div>
<![endif]-->
<div id="app"></div>
<script src="http://7u2in3.com2.z0.glb.qiniucdn.com/plupload.full.min.js"></script>
<script src="http://7u2in3.com2.z0.glb.qiniucdn.com/qiniu.js"></script>
</body>
</html>